.fixed {
  position: fixed;
  top: 0;
  left: 20px; /* 20px from the left edge */
  right: 20px; /* 20px from the right edge */
  margin-top: 20px;
  border-radius: 20px;
  width: calc(100% - 40px);
  z-index: 100;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #dadada;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.theme-toggle {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.theme-toggle:hover {
  background-color: #4a5568;
}

.hover\:text-gray-400:hover {
  color: #cbd5e0;
}

.hover\:text-gray-600:hover {
  color: #4a5568;
}

/* Header.css */

.fixed {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
  z-index: 1000;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.blurred {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust color for blur effect */
  backdrop-filter: blur(8px); /* Adjust blur amount */
  color: white; /* Ensure text is readable */
}

.theme-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.theme-toggle:hover {
  background-color: #0056b3;
}
/* Header.css */

.color-picker {
  border: none;
  cursor: pointer;
  height: 30px; /* Adjust the size as needed */
  width: 30px; /* Adjust the size as needed */
  padding: 0;
  background-color: transparent;
}
/* .settings-menu {
  display: none;
}

.settings-menu.visible {
  display: block;
} */
.settings-menu {
  position: absolute;
  top: 60px;
  margin-left: 300px;
  right: 0;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.settings-close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  float: right;
}
